* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #435;
}

form {
	position: absolute;
	width: 100%;
	bottom: 0;
}

ul {
	list-style-type: none;
}

input {
	border: 0;
	padding: 10px;
}

.user-icons {
	position: relative;
	height: 100%;
	width: auto;
	border-radius: 6px;
	margin-right: 10px;
}

.panel {
	position: fixed;
	border-radius: 10px;
	background-color: #fff;
}

#big-word {
	position: relative;
	top: 60%;
	text-align: center;
	font-size: 400%;
	color: #435;
}

#word-list {
	font-size: 140%;
	text-align: center;
	position: relative;
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

#timer {
	position: fixed;
	left: 78%;
	font-size: 400%;
	bottom: 47%;
	color: #fff;
}

#user-container {
	width: 30%;
	height: 12%;
	top: 10%;
	left: 5%;
	padding: 10px 10px;
}

#chat-container {
	overflow-y: hidden;
	width: 30%;
	height: 60%;
	left: 5%;
	bottom: 10%;
	padding: 0px;
}

#game-container {
	left: 38%;
	width: 30%;
	bottom: 10%;
	top: 10%;
	padding: 3%;
}

#time-container {
	left: 66%;
	right: 5%;
	height: 12%;
	top: 10%;
}

#facebook-login-button {
	position: fixed;
	left: 12%;
	bottom: 4%;
}

#facebook-logout-button {
	position: fixed;
	left: 5%;
	bottom: 4%;
}

#status {
	position: fixed;
	left: 18%;
	bottom: 4%;
	color: #fff;
}

.messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-radius: 10px;
}

.messages li {
	padding: 5px 10px;
}

.messages li:nth-child(odd) {
	background: #eee;
}

.messages li:nth-child(even) {
	background: #fff;
}