* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form {
	position: absolute;
	width: 100%;
	bottom: 0;
}

input {
	border: 0;
	padding: 10px;
	margin-right: .5%;
}

.user-icons {
	position: relative;
	width: 30%;
}

#user-container {
	position: fixed;
	width: 30%;
	height: 30%;
	top: 10%;
	left: 5%;
}

#chat-container {
	overflow-y: hidden;
	position: fixed;
	width: 30%;
	height: 60%;
	left: 5%;
	bottom: 10%;
}

.messages {
	list-style-type: none;
	margin: 0; padding: 0;
}

.messages li {
	padding: 5px 10px;
}

.messages li:nth-child(odd) {
	background: #eee;
}

.messages li:nth-child(even) {
	background: #fff;
}